<!-- base 공통으로 쓸 레이아웃  -->

<html xmlns:th="http://www.thymeleaf.org">

<!-- 다른 레이아웃에서 넘긴, common_heade(태그,태그2) 전달받은 태그를 대입, 치환한다.-->
<head th:fragment="common_header(title,links)">

  <title th:replace="${title}">레이아웃 타이틀</title>

  <!-- 공통 -->
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/awesomeapp.css}">
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
  <script type="text/javascript" th:src="@{/sh/scripts/codebase.js}"></script>

 <!-- 추가
      links 태그가 모두 출력됨 (현재 layoutMain에서 태그 2개 넘겨줌)-->
 <th:block th:replace="${links}" />

</head>
