<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head 를 공통 레이아웃의 헤더로 변경한다.
    ~{::태그} : 공통 레이아웃에서 변경하고 싶은 값은 ~{::title} 태그 자체를 넣어서 공통 레이아웃에 담아 보내주면 값이 변경된다.-->

<!--    태그 자체 치환 = base 파일에서 :: common_header이름을 찾아, title, link 태그를 통으로 담아 보내줌-->
<head th:replace="template/layout/base :: common_header(~{::title},~{::link})">
  <title>메인 타이틀</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
  <body>
  메인 컨텐츠
  </body>
</html>