<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
  <body>
    <ul>
      <li>산술 연산
        <ul>
          <li>10 + 2 = <span th:text="10 + 2"></span></li> <!--12-->
          <li>10 % 2 == 0 = <span th:text="10 % 2 == 0"></span></li> <!-- == 같은지 불리언 값 : true-->
        </ul>
      </li>
      <li>비교 연산
        <ul>
          <li>1 > 10 = <span th:text="1 &gt; 10"></span></li> <!-- &gt는  > 부등호로 치환 : false-->
          <li>1 gt 10 = <span th:text="1 gt 10"></span></li> <!-- gt는 >로 치환X, 부등호 > 처리됩 : false -->
          <li>1 >= 10 = <span th:text="1 >= 10"></span></li> <!--false -->
          <li>1 ge 10 = <span th:text="1 ge 10"></span></li> <!--ge는 < 로 치환 X, 부등호 < 처리됨 : false -->
          <li>1 == 10 = <span th:text="1 == 10"></span></li> <!--같다 : false -->
          <li>1 != 10 = <span th:text="1 != 10"></span></li> <!--다르다 : true -->
        </ul>
      </li>

      <li>조건식
        <ul>
          <li>(10 % 2 == 0)? '짝수':'홀수' = <span th:text="(10 % 2 == 0)? '짝수':'홀수'"></span></li>
        </ul>
      </li>
<!--  ? : ? 앞의 데이터가 없으면 ? 다음의 값을 출력함, 조건식을 더 편리하게 사용한다.-->
      <li>Elvis 연산자
        <ul>
          <li>${data}?: '데이터가 없습니다.' = <span th:text="${data}?: '데이터가 없습니다.'"></span></li>
          <li>${nullData}?: '데이터가 없습니다.' = <span th:text="${nullData}?: '데이터가 없습니다.'"></span></li>
        </ul>
      </li>

<!-- _ : 타임리프가 실행되지 않는 것 처럼 동작, HTML 내용 그대로 활용 가능-->
      <li>No-Operation
        <ul>
          <li>${data}?: _ = <span th:text="${data}?: _">데이터가 없습니다.</span></li>
          <li>${nullData}?: _ = <span th:text="${nullData}?: _">데이터가 없습니다.</span></li>
        </ul>
      </li>
    </ul>
  </body>
</html>