<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>SpringEL 표현식</h1>

<!--객체 : user 객체{}의 username 값 조회-->
<ul>Object
  <li>${user.username} = <span th:text="${user.username}"></span></li>
  <li>${user['username']} = <span th:text="${user['username']}"></span></li>
  <li>${user.getUsername()} = <span th:text="${user.getUsername()}"></span></li>
</ul>

<!--배열 : 인덱스 사용하여 객체 조회
          ex) users 배열의 맨 처음 위치한, 첫번쨰 회원의 이름 username 값을 조회-->
<ul>List
  <li>${users[0].username} = <span th:text="${users[0].username}"></span></li>
  <li>${users[0]['username']} = <span th:text="${users[0]['username']}"></span></li>
  <li>${users[0].getUsername()} = <span th:text="${users[0].getUsername()}"></span></li>
</ul>

<!-- MAP : key 가 있어야 key로 객체 조회
          ex) userMap의 userA키의 username 값을 조회-->
<ul>Map
  <li>${userMap['userA'].username} = <span th:text="${userMap['userA'].username}"></span></li>
  <li>${userMap['userA']['username']} = <span th:text="${userMap['userA']['username']}"></span></li>
  <li>${userMap['userA'].getUsername()} = <span th:text="${userMap['userA'].getUsername()}"></span></li>
</ul>

<!--지역 변수 선언
- th:with :  지역 변수를 선언 및 사용, 지역 변수는 선언한 테그 안에서만 사용할 수 있음 -->

<h1>지역 변수 - (th:with)</h1>

<!-- 지역변수 first 선언, users 회원리스트의 0번째/첫번째 회원의 객체를 대입-->
<div th:with="first=${users[0]}">
                      <!--  회원의 이름 출력-->
  <p>처음 사람의 이름은 <span th:text="${first.username}"></span></p>
</div>

</body>
</html>

<!-- SpringEL 다양한 표현식 사용
Object
user.username : user의 username을 프로퍼티 접근 user.getUsername()
user['username'] : 위와 같음 user.getUsername()
user.getUsername() : user의 getUsername() 을 직접 호출

List
users[0].username : List에서 첫 번째 회원을 찾고 username 프로퍼티 접근
list.get(0).getUsername()
users[0]['username'] : 위와 같음
users[0].getUsername() : List에서 첫 번째 회원을 찾고 메서드 직접 호출

Map
userMap['userA'].username : Map에서 userA를 찾고, username 프로퍼티 접근
map.get("userA").getUsername()
userMap['userA']['username'] : 위와 같음
userMap['userA'].getUsername() : Map에서 userA를 찾고 메서드 직접 호출
-->