<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
  <body>
  <!-- 자바스크립트 인라인 사용 전 -->
    <script>
     var username = "[[${user1.username}]]"; // -> estell 값으로 치환
     var usernameHtml = "[[${user2.username}]]"; // 언이스케이프 ->  "estell&quot;A&quot;";
     var age = [[${user1.age}]];

     // 자바스크립트 내추럴 템플릿
     var username2 = /*[[${user1.username}]]*/ "test username";

     //객체
     // user.toString() 실행됨.
     var user = [[${user1}]]; //  BasicController.User(username=estell, age=25);
    </script>

    <!-- 자바스크립트 인라인 사용 후 -->
    <script th:inline="javascript">
     // 문자열 "" 안해줘도 알아서 해줌
     var username = [[${user1.username}]]; //-> "estell"

     // 이스케이프 처리해줌
     var usernameHtml = [[${user2.username}]]; // -> "estellw"Aw"";     \ 가 나와야하는데 w가 나오는 건 확인해봐야겠다
     var age = [[${user1.age}]];


     //자바스크립트 내추럴 템플릿
     // 렌더링 할 때, /**/ 주선을 제거하고, 주석안의 값을 사용
     var username2 = /*[[${user1.username}]]*/ "test username";

     //객체
     // 객체를 json 으로 치환
     var user = [[${user1}]]; // {"username":"estell","age":25};
    </script>

  <!-- 자바스크립트 인라인 each -->
    <script th:inline="javascript">

      // 반복문 문법
      // [# th:each="객체, 변수명 : ${데이터/리스트..}"] 코드 [/]

      [# th:each="user, stat : ${users}"]
      var user[[${stat.count}]] = [[${user}]];
      [/]

      /* 출력  user.users 회원객체의 배열/리스트에 담긴 회원들의 객체/정보를 출력
      var user1 = {"username":"userA","age":10};
      var user2 = {"username":"userB","age":20};
      var user3 = {"username":"userC","age":30};
      */
      </script>
  </body>
</html>