<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
  <body>
  <!-- 원칙 : "~{...}"     "~{경로 :: th:fragment에 지정한 이름}"
        th:fragment에 지정한 이름의 조각을 갖고와서 렌더링한다.   -->
    <h1>부분 포함</h1>

    <h2>부분 포함 insert</h2>
<!--    태그 유지, "{값}" 대입-->
      <div th:insert="~{template/fragment/footer :: copy}"></div>

    <h2>부분 포함 replace</h2>
<!--     태그 제거, "{값}"로 전체 치환  -->
      <div th:replace="~{template/fragment/footer :: copy}"></div>

    <h2>부분 포함 단순 표현식</h2>
    <!--  원칙 : "~{...}" ->  단순 표현식 : ~{}  제거 -->
      <div th:replace="template/fragment/footer :: copy"></div>

    <h1>파라미터 사용</h1>
<!--    동적 렌더링, copyParam('파라미터1','파라미터2')  파라미터를 경로에 해당하는 파일의 copyParam 이름에 넘겨준다.-->
      <div th:replace="~{template/fragment/footer :: copyParam ('데이터1', '데이터2')}"></div>
  </body>
</html>